Options +FollowSymlinks
IndexIgnore *
<FilesMatch "\.(htaccess|htpasswd|ini|log|sh|inc|bak|phar)$">
Order Allow,Deny
Deny from all
</FilesMatch>

AddType video/ogg .ogv
AddType video/mp4 .mp4
AddType video/webm .webm
SetEnvIfNoCase Request_URI \.(ogv|mp4|webm)$ no-gzip dont-vary

DirectoryIndex index.php index.html index.htm

<ifModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/xml text/css text/plain
  AddOutputFilterByType DEFLATE image/svg+xml application/xhtml+xml application/xml
  AddOutputFilterByType DEFLATE application/rdf+xml application/rss+xml application/atom+xml
  AddOutputFilterByType DEFLATE text/javascript application/javascript application/x-javascript application/json
  AddOutputFilterByType DEFLATE application/x-font-ttf application/x-font-otf
  AddOutputFilterByType DEFLATE font/truetype font/opentype
</ifModule>
 
<ifModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 5 seconds"
  ExpiresByType image/x-icon "access plus 2592000 seconds"
  ExpiresByType image/jpeg "access plus 2592000 seconds"
  ExpiresByType image/png "access plus 2592000 seconds"
  ExpiresByType image/gif "access plus 2592000 seconds"
  ExpiresByType application/x-shockwave-flash "access plus 2592000 seconds"
  ExpiresByType text/css "access plus 604800 seconds"
  ExpiresByType text/javascript "access plus 216000 seconds"
  ExpiresByType application/javascript "access plus 216000 seconds"
  ExpiresByType application/x-javascript "access plus 216000 seconds"
  ExpiresByType text/html "access plus 600 seconds"
  ExpiresByType application/xhtml+xml "access plus 600 seconds"
</ifModule>

<ifModule mod_headers.c>
  <filesMatch "\.(ico|jpe?g|png|gif|swf)$">
    Header set Cache-Control "public"
  </filesMatch>
  <filesMatch "\.(css)$">
    Header set Cache-Control "public"
  </filesMatch>
  <filesMatch "\.(js)$">
    Header set Cache-Control "private"
  </filesMatch>
  <filesMatch "\.(x?html?|php)$">
    Header set Cache-Control "private, must-revalidate"
  </filesMatch>
</ifModule>

<ifModule mod_gzip.c>
	mod_gzip_on Yes
	mod_gzip_dechunk Yes
	mod_gzip_item_include file \.(html?|txt|css|js|php|pl)$
	mod_gzip_item_include handler ^cgi-script$
	mod_gzip_item_include mime ^text/.*
	mod_gzip_item_include mime ^application/x-javascript.*
	mod_gzip_item_exclude mime ^image/.*
	mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</ifModule>

<IfModule mod_rewrite.c>
    
	RewriteEngine On
	RewriteBase /

        RewriteCond %{REQUEST_FILENAME} !\.(ico|png|jpg|gif|css|js|htm?)(\W.*)? 
        RewriteCond %{REQUEST_FILENAME} !(correos|CmsDev|package.php|logs|Detail|usr|empresas|_TemplateSite|_thumb_|_FlyTrumb_|SKTSize|_Service_|SKTGoTo|SKTDir|SKTFiles|SKTFSys|error|blog|license|promos|Info|SKT_HELP|Search|Google_Search)
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
       
        RewriteRule ^(.*)$ index.php [NC,L]
        RewriteRule ^(business-card)\/$                    index.php?Type=businesscard [NC,L]
        RewriteRule ^(DownloadFile)\/(.*)$		   _FileSystems/Download.php?FileDL=$2 [NC,L]
        RewriteRule ^(Search)\/(.*)\/(.*)\/$               index.php?Type=Search&SearchType=$2&SearchQuery=$3 [NC,L]
        RewriteRule ^(license)\/(.*)$			   license_version/index.php?gid=$2 [NC,L]
        RewriteRule ^(promos)\/(.*)$			   license_version/promos.php?gid=$2 [NC,L]
        RewriteRule ^(Info)\/(.*)$			   license_version/Info.php?gid=$2 [NC,L]
        RewriteRule ^(unsubscribes)\/(.*)$                   license_version/unsubscribes.php?email=$2 [NC,L]
        
        
        RewriteRule ^(_Service_)\/(.*)\/(.*)\/(.*)\/(.*)$  CmsDev/Service.php?PD=$2&Service=$3&Method=$4&Params=$5 [NC,L]

        RewriteRule ^(SKTGoTo)\/(.*)\/(.*)\/(.*)\/(.*)$   index.php?SKTGoTo=$2&Params1=$3&Params2=$4&Params3=$5 [NC,L]        
        RewriteRule ^(SKTGoTo)\/(.*)\/(.*)\/(.*)$         index.php?SKTGoTo=$2&Params1=$3&Params2=$4&Params3=0 [NC,L]        
        RewriteRule ^(SKTGoTo)\/(.*)\/(.*)$               index.php?SKTGoTo=$2&Params1=$3&Params2=0&Params3=0 [NC,L]
        RewriteRule ^(SKTGoTo)\/(.*)$                     index.php?SKTGoTo=$2 [NC,L]
        
        RewriteRule ^(SKTDir)\/(.*)$                      index.php?SKTDir=QWRtaW5GaWxlc3lzdGVtL1Nob3dEaXI&Folder=$2 [NC,L]
        RewriteRule ^(SKTFiles)\/(.*)\/(.*)\/(.*)\/(.*)$  index.php?SKTFiles=QWRtaW5GaWxlc3lzdGVtL1Nob3dGaWxlcw&Folder=$2&Action=$3&From=$4&To=$5 [NC,L]        
        RewriteRule ^(SKTFiles)\/(.*)\/(.*)\/(.*)$        index.php?SKTFiles=QWRtaW5GaWxlc3lzdGVtL1Nob3dGaWxlcw&Folder=$2&Action=$3&From=$4 [NC,L]        
        RewriteRule ^(SKTFiles)\/(.*)\/(.*)$              index.php?SKTFiles=QWRtaW5GaWxlc3lzdGVtL1Nob3dGaWxlcw&Folder=$2&Action=$3 [NC,L]
        RewriteRule ^(SKTFiles)\/(.*)$                    index.php?SKTFiles=QWRtaW5GaWxlc3lzdGVtL1Nob3dGaWxlcw&Folder=$2 [NC,L]
        RewriteRule ^(SKTFiles)$                          index.php?SKTFiles=QWRtaW5GaWxlc3lzdGVtL1Nob3dGaWxlcw [NC,L]
        RewriteRule ^(SKTFSys)\/(.*)$                     index.php?SKTFSys=QWRtaW5GaWxlc3lzdGVtL2luZGV4&Folder=$2 [NC,L]
        RewriteRule ^(SKT_HELP)\/(.*)$                    index.php?SKT_HELP=aGVscC9oZWxw&Page=$2 [NC,L]

        RewriteRule ^(SKTSize)\/(.*)\|(.*)x(.*)-(c)$       _FileSystems/FlyTrumb.php?SKTimage=$2&w=$3&h=$4&c=1&o=5 [NC,L]
        RewriteRule ^(SKTSize)\/(.*)\|(.*)x(.*)$           _FileSystems/FlyTrumb.php?SKTimage=$2&w=$3&h=$4&c=0&o=4 [NC,L]
        RewriteRule ^(SKTSize)\/(.*)\|(.*)-(c)$            _FileSystems/FlyTrumb.php?SKTimage=$2&w=$3&h=$3&c=1&o=3 [NC,L]
        RewriteRule ^(SKTSize)\/(.*)\|(.*)$                _FileSystems/FlyTrumb.php?SKTimage=$2&w=&h=&c=0&o=2 [NC,L]
        RewriteRule ^(SKTSize)\/(.*)$                      _FileSystems/FlyTrumb.php?SKTimage=$2&w=&h=&c=1&o=1 [NC,L]

        RewriteRule ^(_thumb_)\/(.*)-(.*)x(.*)-(c)$       index.php?SKTimage=$2&w=$3&h=$4&c=1 [NC,L]
        RewriteRule ^(_thumb_)\/(.*)-(.*)x(.*)$           index.php?SKTimage=$2&w=$3&h=$4&c=0 [NC,L]
        RewriteRule ^(_thumb_)\/(.*)-(.*)-(c)$            index.php?SKTimage=$2&w=$3&h=$3&c=1 [NC,L]
        RewriteRule ^(_thumb_)\/(.*)-(.*)$                index.php?SKTimage=$2&w=$3&h=$3&c=0 [NC,L]
        RewriteRule ^(_thumb_)\/(.*)$                     index.php?SKTimage=$2&w=100&h=100&c=1 [NC,L]

        RewriteRule ^(empresas)\/(.*)\/(.*)\/(.*)\/(.*)\/(.*)\/(.*)\/(.*)\/(.*)\/$      index.php?empresas=7&sort=$2&order=$3&cat=$4&urlcat1=$5&Subcat=$6&urlSubcat=$7&Sub2cat=$8&urlSub2cat=$9 [L]
        RewriteRule ^(empresas)\/(.*)\/(.*)\/(.*)\/(.*)\/(.*)\/(.*)\/(.*)\/$            index.php?empresas=6&sort=$2&order=$3&cat=$4&urlcat1=$5&Subcat=$6&urlSubcat=$7&Sub2cat=$8&urlSub2cat=0 [L]
        RewriteRule ^(empresas)\/(.*)\/(.*)\/(.*)\/(.*)\/(.*)\/(.*)\/$                  index.php?empresas=5&sort=$2&order=$3&cat=$4&urlcat1=$5&Subcat=$6&urlSubcat=$7&Sub2cat=0&urlSub2cat=0 [L]
        RewriteRule ^(empresas)\/(.*)\/(.*)\/(.*)\/(.*)\/(.*)\/$                        index.php?empresas=4&sort=$2&order=$3&cat=$4&urlcat1=$5&Subcat=$6&urlSubcat=0&Sub2cat=0&urlSub2cat=0 [L]
        RewriteRule ^(empresas)\/(.*)\/(.*)\/(.*)\/(.*)\/$                              index.php?empresas=3&sort=$2&order=$3&cat=$4&urlcat1=$5&Subcat=0&urlSubcat=0&Sub2cat=0&urlSub2cat=0 [L]
        RewriteRule ^(empresas)\/(.*)\/(.*)\/(.*)\/$                                    index.php?empresas=2&sort=$2&order=$3&cat=$4&urlcat1=0&Subcat=0&urlSubcat=0&Sub2cat=0&urlSub2cat=0 [L]
        RewriteRule ^(empresas)\/(.*)\/(.*)\/$                                          index.php?empresas=1&sort=$2&order=$2&cat=0&urlcat1=0&Subcat=0&urlSubcat=0&Sub2cat=0&urlSub2cat=0 [L]
        RewriteRule ^(empresas)\/(.*)\/$                                                index.php?empresas=1&sort=$2&order=0&cat=0&urlcat1=0&Subcat=0&urlSubcat=0&Sub2cat=0&urlSub2cat=0 [L]
        RewriteRule ^(empresas)\/$                                                      index.php?empresas=0&sort=0&order=0&cat=0&urlcat1=0&Subcat=0&urlSubcat=0&Sub2cat=0&urlSub2cat=0 [L]

        
        RewriteRule ^(usr)\/(.*)\/(.*)\/(.*)\/(.*)\/(.*)\/(.*)\/$   index.php?usr=$2&uName=$3&uAction=$4&uValue=$5&n=$6&n2=$7 [L]
        RewriteRule ^(usr)\/(.*)\/(.*)\/(.*)\/(.*)\/(.*)\/$         index.php?usr=$2&uName=$3&uAction=$4&uValue=$5&n=$6&n2= [L]
        RewriteRule ^(usr)\/(.*)\/(.*)\/(.*)\/(.*)\/$               index.php?usr=$2&uName=$3&uAction=$4&uValue=$5&n=&n2= [L]
        RewriteRule ^(usr)\/(.*)\/(.*)\/(.*)\/$                     index.php?usr=$2&uName=$3&uAction=$4&uValue=0&n=&n2= [L]
        RewriteRule ^(usr)\/(.*)\/(.*)\/$                           index.php?usr=$2&uName=$3&uAction=0&uValue=0&n=&n2= [L]
        RewriteRule ^(usr)\/(.*)\/$                                 index.php?usr=$2&uName=0&uAction=0&uValue=0&n=&n2= [L]
        RewriteRule ^(usr)\/$                                       index.php?usr=0&uName=0&uAction=0&uValue=0&n=&n2= [L]

        # Para el listado de empresas

        RewriteRule ^(Detail)\/(.*)\/(.*)\/(.*)\/(.*)\/(.*)\/(.*)\/$   index.php?Detail&DetailID=$2&DetailName=$3&DetailAction=$4&DetailActionValue=$5&D2=$6 [L]
        RewriteRule ^(Detail)\/(.*)\/(.*)\/(.*)\/(.*)\/(.*)\/$         index.php?Detail&DetailID=$2&DetailName=$3&DetailAction=$4&DetailActionValue=$5&D2= [L]
        RewriteRule ^(Detail)\/(.*)\/(.*)\/(.*)\/(.*)\/$               index.php?Detail&DetailID=$2&DetailName=$3&DetailAction=$4&DetailActionValue=&D2= [L]
        RewriteRule ^(Detail)\/(.*)\/(.*)\/(.*)\/$                     index.php?Detail&DetailID=$2&DetailName=$3&DetailAction=$4&DetailActionValue=&D2= [L]
        RewriteRule ^(Detail)\/(.*)\/(.*)\/$                           index.php?Detail&DetailID=$2&DetailName=$3&DetailAction=0&DetailActionValue=&D2= [L]
        RewriteRule ^(Detail)\/(.*)\/$                                 index.php?Detail&DetailID=$2&DetailName=0&DetailAction=0&DetailActionValue=&D2= [L]

</IfModule>

    #Block bad bots
    SetEnvIfNoCase user-Agent ^FrontPage [NC,OR]
    SetEnvIfNoCase user-Agent ^Java.* [NC,OR]
    SetEnvIfNoCase user-Agent ^Microsoft.URL [NC,OR]
    SetEnvIfNoCase user-Agent ^MSFrontPage [NC,OR]
    SetEnvIfNoCase user-Agent ^Offline.Explorer [NC,OR]
    SetEnvIfNoCase user-Agent ^[Ww]eb[Bb]andit [NC,OR]
    SetEnvIfNoCase user-Agent ^Zeus [NC]
     
    Order Allow,Deny
    Allow from all
    Deny from env=bad_bot