<table style="background-color: #333333;" align="center" border="0" cellspacing="0" cellpadding="0" >
    <tr>
        <td>
            <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="min-width:600px; background-color:#e2e2e2; padding-left:20px; padding-right:20px;">
                <!-- start space -->
                <tr>
                    <td valign="top" height="20" style="line-height: 1px; font-size: 1px; display: block;">
                    </td>
                </tr>
                <!-- end space -->
                <tr>
                    <td valign="top">
                        <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" style="margin:0 auto;">
                            <!-- start social icon -->
                            <tr>
                                <td valign="top" align="center">
                                    <table border="0" align="center" cellpadding="0" cellspacing="0" style="margin:0 auto; width:auto;">
                                        <tr>
                                            <td height="20" align="center" valign="middle">
                                                <a href="[URL_Facebook]" style="font-size: inherit; text-decoration: none;">
                                                    <img src="[ASSETS]/icon_circle-facebook.png" width="20" alt="icon_circle-facebook" style="max-width:20px; display:block !important;" border="0" hspace="0" vspace="0">
                                                </a>
                                            </td>
                                            <td style="padding-left:5px;" height="20" align="center" valign="middle">
                                                <a href="[URL_Twitter]" style="font-size: inherit; text-decoration: none;">
                                                    <img src="[ASSETS]/icon_circle-twitter.png" width="20" alt="icon_circle-twitter" style="max-width:20px; display:block !important;" border="0" hspace="0" vspace="0">
                                                </a>
                                            </td>
                                            <td style="padding-left:5px;" height="20" align="center" valign="middle">
                                                <a href="[URL_Linkedin]" style="font-size: inherit; text-decoration: none;">
                                                    <img src="[ASSETS]/icon_circle-linkedin.png" width="20" alt="icon_circle-linkedin" style="max-width:20px; display:block !important;" border="0" hspace="0" vspace="0">
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!-- end social icon -->
                        </table>
                    </td>
                </tr>
                <!-- start space -->
                <tr>
                    <td valign="top" height="20" style="line-height: 1px; font-size: 1px; display: block;">
                    </td>
                </tr>
                <!-- end space -->
            </table>
            <!-- end container -->
        </td>
    </tr>
    <tr>
        <td>
            <!-- start container -->
            <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="min-width:600px; background-color:#ffffff; padding-left:20px; padding-right:20px;">
                <!-- start space -->
                <tr>
                    <td valign="top" height="30" style="line-height: 1px; font-size: 1px; display: block;">
                    </td>
                </tr>
                <!-- end space -->
                <tr>
                    <td valign="top">
                        <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" style="margin:0 auto;">
                            <tr>
                                <td valign="top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;">
                                        <tr>
                                            <td align="center" style="font-size: 14px; line-height: 24px; color: rgb(51, 51, 51); font-weight: normal; text-align: center; font-family: Roboto, 'Open Sans', Arail, Tahoma, Helvetica, Arial, sans-serif; word-break: break-word;">
                                                <span style="text-decoration: none; color: rgb(51, 51, 51); font-size: inherit;">
                                                    <a href="[URL]/empresas/" style="color: rgb(51, 51, 51); font-size: inherit; text-decoration: none;"> Empresas &nbsp;</a>
                                                    | <a href="[URL]/blog-negocios/" style="color: rgb(51, 51, 51); font-size: inherit; text-decoration: none;"> &nbsp;Blog de Negocios &nbsp;</a>
                                                    | <a href="[URL]/contacto/" style="color: rgb(51, 51, 51); font-size: inherit; text-decoration: none;"> &nbsp;Contacto</a>
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!-- start space -->
                            <tr>
                                <td valign="top" height="15" style="line-height: 1px; font-size: 1px; display: block;">
                                </td>
                            </tr>
                            <!-- end space -->
                            <tr>
                                <td valign="top">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto;">
                                        <!-- start rights reserved -->
                                        <tr>
                                            <td align="center" style="font-size: 13px; line-height: 24px; color: rgb(51, 51, 51); font-weight: normal; text-align: center; font-family: Roboto, 'Open Sans', Arail, Tahoma, Helvetica, Arial, sans-serif; word-break: break-word;">
                                                <span style="color: rgb(51, 51, 51); font-size: inherit;">Copyright &copy; 2015 Negocios en Red.</span></td>
                                        </tr>
                                        <!-- end rights reserved -->
                                    </table>
                                </td>
                            </tr>
                            <!-- start space -->
                            <tr>
                                <td valign="top" height="15" style="line-height: 1px; font-size: 1px; display: block;">
                                </td>
                            </tr>
                            <!-- end space -->
                            <tr>
                                <td align="center" style="font-size: 14px; line-height: 24px; color: rgb(57, 151, 230); font-weight: normal; text-align: center; font-family: Roboto, 'Open Sans', Arail, Tahoma, Helvetica, Arial, sans-serif; word-break: break-word;">
                                    <span style="text-decoration: none; color: rgb(57, 151, 230); font-size: inherit;"><a href="[Unsubscribe_Url]" style="color: rgb(57, 151, 230); font-size: inherit; text-decoration: none;">Dejar de recibir estos mails</a>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- start space -->
                <tr>
                    <td valign="top" height="30" style="line-height: 1px; font-size: 1px; display: block;">
                    </td>
                </tr>
                <!-- end space -->
            </table>
            <!-- end container -->
        </td>
    </tr>
</table>