<table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="min-width: 600px; padding-left: 20px; padding-right: 20px; background-color: #252525;">
    
    <!-- start space -->
    
    <tbody>
        <tr>
            <td valign="top" height="38" style="height: 30px; line-height: 1px; font-size: 1px; display: block;"></td>
        </tr>
        
        <!-- end space --> 
        <!-- start content container-->
        
        <tr>
            <td valign="top">
                <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" class="full-width">
                    <tbody>
                        <tr>
                            <td valign="middle">

                                <!-- start logo -->

                                <table align="left" border="0" cellspacing="0" cellpadding="0" class="full-width-center">
                                    <tbody>
                                        <tr>
                                            <td align="center" valign="top">
                                                <a href="[URL]" style="font-size: inherit; text-decoration: none;">
                                                    <img src="[Template_Logo]" alt="logo-top" width="225" height="46" style="max-width: 225px; display: block; height: auto !important;" >
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <!-- end logo --> 

                                <!-- start menu 

                                <table align="right" border="0" cellpadding="0" cellspacing="0" class="full-width-center">
                                    <tbody>
                                        <tr>
                                            <td valign="top">
                                                <table align="left" border="0" cellpadding="0" cellspacing="0" class="full-width-center">
                                                    <tbody>
                                                        <tr>
                                                            <td align="right" style="font-size: 12px; line-height: 32px; color: rgb(51, 51, 51); font-weight: normal; text-align: center; font-family: Roboto, 'Open Sans', Arail, Tahoma, Helvetica, Arial, sans-serif; word-break: break-word;">
                                                                <span style="color: rgb(255, 255, 255); text-decoration: none; font-size: 12px;">
                                                                    <a href="[URL]/UserLogin" style="color: rgb(51, 51, 51); font-size: inherit; text-decoration: none;" >
                                                                        <span style="color: rgb(255, 255, 255); font-size: 12px;">
                                                                            Ingresar
                                                                        </span>
                                                                    </a>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                                 end menu -->
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        
        <!-- end content container--> 
        <!-- start space -->
        
        <tr>
            <td valign="top" height="27" style="height: 27px; line-height: 1px; font-size: 1px; display: block;"></td>
        </tr>
        
        <!-- end space -->
        
    </tbody>
</table>
