<table>
    <tr>
        <td align="center" valign="top" class="container" style="-webkit-background-size: cover !important;  background-color: #131313; background-size: cover !important; background-position: 50% 0% !important; background-repeat: no-repeat !important;">
            <!-- start container -->
            <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="min-width:600px; padding-left:20px; padding-right:20px;">
                <!-- start space -->							<!-- end space -->
                <!-- start content container-->
                <tr>
                    <td valign="top">
                        <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" class="full-width">
                            <tr>
                                <td valign="top">
                                    <!-- start content -->
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                                        <!-- start space -->													<!-- end space -->
                                        <tr>
                                            <td align="center" style="font-size: 28px; color: rgb(255, 255, 255); font-weight: normal; text-align: center; font-family: Roboto, 'Open Sans', Arail, Tahoma, Helvetica, Arial, sans-serif; word-break: break-word;">
                                                <img src="[URL][Banner_Register_Image]" alt="" style="-webkit-user-select: none; max-width: 600px; display: block; height: auto !important;" border="0" hspace="0" vspace="0" />
                                                <span style="text-decoration: none; color: rgb(255, 255, 255); font-weight: normal; font-size: inherit;">
                                                    <br />
                                                    [Banner_Register_Text1]
                                                </span>
                                            </td>
                                        </tr>
                                        <!-- start space -->
                                        <tr>
                                            <td valign="top" height="15" style="line-height: 1px; font-size: 1px; display: block;">
                                            </td>
                                        </tr>
                                        <!-- end space -->
                                        <tr>
                                            <td align="center" style="font-size: 18px; line-height: 24px; color: rgb(255, 255, 255); font-weight: 300; text-align: center; font-family: Roboto, 'Open Sans', Arail, Tahoma, Helvetica, Arial, sans-serif; word-break: break-word;">
                                                <p>[Banner_Register_Text2]</p>
                                                <h3>
                                                    <strong style="color: rgb(255, 255, 255);">
                                                        [Banner_Register_Text3]
                                                    </strong>
                                                </h3>
                                            </td>
                                        </tr>
                                        <!-- start space -->
                                        <tr>
                                            <td valign="top" height="30" style="line-height: 1px; font-size: 1px; display: block;">
                                            </td>
                                        </tr>
                                        <!-- end space -->
                                        <tr>
                                            <td valign="top">
                                                <!-- start button -->
                                                <table width="auto" border="0" align="center" cellpadding="0" cellspacing="0" class="auto-center-all" style="margin:0 auto;">
                                                    <tr>
                                                        <td width="auto" valign="top" style="padding:5px; display: none;">
                                                            <table width="auto" border="0" align="left" cellpadding="0" cellspacing="0" style="padding:5px;">
                                                                <tr>
                                                                    <td width="auto" align="center" valign="middle" height="50" style="border-radius: 24px; font-size: 14px; font-family: Roboto, 'Open Sans', Arail, Tahoma, Helvetica, Arial, sans-serif; text-align: center; color: rgb(255, 255, 255); font-weight: normal; padding-left: 40px; padding-right: 40px; word-break: break-word; background-color: rgb(57, 151, 230); background-clip: padding-box;">
                                                                        <span style="color: rgb(255, 255, 255); font-weight: normal; font-size: inherit;">
                                                                            <a href="[URL][Banner_Register_Btn1_URL]" title="" style="color: rgb(255, 255, 255); font-weight: normal; font-size: inherit; text-decoration: none;">
                                                                                [Banner_Register_Btn1]
                                                                            </a>
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td width="auto" valign="top" style="padding:5px;">
                                                            <table width="auto" border="0" align="left" cellpadding="0" cellspacing="0" style="padding:5px;">
                                                                <tr>
                                                                    <td width="auto" align="center" valign="middle" height="50" style="border-radius: 24px; font-size: 14px; font-family: Roboto, 'Open Sans', Arail, Tahoma, Helvetica, Arial, sans-serif; text-align: center; color: rgb(255, 255, 255); font-weight: normal; padding-left: 40px; padding-right: 40px; word-break: break-word; background-color: rgb(57, 151, 230); background-clip: padding-box;">
                                                                        <span style="color: rgb(255, 255, 255); font-weight: normal; font-size: inherit;">
                                                                            <a href="[URL][Banner_Register_Btn2_URL]" title="" style="color: rgb(255, 255, 255); font-weight: normal; font-size: inherit; text-decoration: none; line-height: 40px">
                                                                                [Banner_Register_Btn2]
                                                                            </a>
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!-- end button -->
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- end content -->
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- end content container-->
                <!-- start space -->
                <tr>
                    <td valign="top" height="40" style="line-height: 1px; font-size: 1px; display: block;">
                    </td>
                </tr>
                <!-- end space -->
            </table>
            <!-- end container -->
        </td>
    </tr>
</table>