<table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="min-width:300px; font-size: 16px; background-color:#fefefe; padding-left:20px; padding-right:20px; ">
    <tbody> 
        <tr>
            <td align="center" valign="top" style="width: 50%;">&nbsp;</td>
            <td align="center" valign="top" style="width: 50%;">&nbsp;</td>
        </tr>
        <tr>
            <td align="right" valign="top" style="width: 50%;">
                <span style="font-size: 14px; line-height: 24px; color: rgb(50,50,50); font-weight: 300; text-align: left; font-family: Roboto, 'Open Sans', Arail, Tahoma, Helvetica, Arial, sans-serif; word-break: break-word;">
                    Precio Unitario:
                </span>
            </td>
            <td align="left" valign="top" style="width: 50%;">
                <span style="font-size: 14px; line-height: 24px; color: rgb(50,50,50); font-weight: 300; text-align: left; font-family: Roboto, 'Open Sans', Arail, Tahoma, Helvetica, Arial, sans-serif; word-break: break-word;">
                    [Template_Product_Currency] [Template_Product_Price]
                </span>
            </td>
        </tr>
        <tr>
            <td align="right" valign="top">
                <span style="font-size: 14px; line-height: 24px; color: rgb(50,50,50); font-weight: 300; text-align: left; font-family: Roboto, 'Open Sans', Arail, Tahoma, Helvetica, Arial, sans-serif; word-break: break-word;">
                    Unidades:
                </span>
            </td>
            <td align="left" valign="top" style="width: 50%;">
                <span style="font-size: 14px; line-height: 24px; color: rgb(50,50,50); font-weight: 300; text-align: left; font-family: Roboto, 'Open Sans', Arail, Tahoma, Helvetica, Arial, sans-serif; word-break: break-word;">
                    [Template_Product_Quantity]
                </span>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top" colspan="2"><hr></td>
        </tr>
        <tr>
            <td align="right" valign="top" style="width: 50%;">
                <span style="font-size: 14px; line-height: 24px; color: rgb(50,50,50); font-weight: 500; text-align: left; font-family: Roboto, 'Open Sans', Arail, Tahoma, Helvetica, Arial, sans-serif; word-break: break-word;">
                    <b>Total de la compra: </b>
                </span>
            </td>
            <td align="left" valign="top" style="width: 50%;">
                <span style="font-size: 14px; line-height: 24px; color: rgb(50,50,50); font-weight: 500; text-align: left; font-family: Roboto, 'Open Sans', Arail, Tahoma, Helvetica, Arial, sans-serif; word-break: break-word;">
                    <b>[Template_Product_Currency] [Template_Product_Total]</b>
                </span>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top" colspan="2"><hr></td>
        </tr>
        <tr>
            <td align="center" valign="top" style="width: 50%;">&nbsp;</td>
            <td align="center" valign="top" style="width: 50%;">&nbsp;</td>
        </tr>
    </tbody>
</table>