<table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="min-width:600px; background-color:#3f902d; padding-left:20px; padding-right:20px;">
    <tbody> 
        <tr>
            <td align="center" valign="top">&nbsp;</td>
        </tr>
        <tr>
            <td align="center" valign="top">
                <span style="font-size: 12px; line-height: 18px; color: #ffffff; font-weight: normal; text-align: left; font-family: 'Open Sans', Arail, Tahoma, Helvetica, Arial, sans-serif; word-break: break-word;">
                    Debajo encontraran los datos de contacto para poder acordar la entrega.<br><br>
                    Luego de finalizar la entrega, ya sea Positiva o en caso de Cancelaci&oacute;n, no olvides entrar en en sitio e informarnos, nos ayudar&aacute;s a mejorar la comunicaci&oacute;n y el servicio.
                </span>
                <br><br>
                <span style="font-size: 12px; line-height: 18px; color: #ffffff; font-weight: normal; text-align: left; font-family: 'Open Sans', Arail, Tahoma, Helvetica, Arial, sans-serif; word-break: break-word;">
                    <b>Puedes ver, calificar, confirmar o cancelar los pedidos accediendo desde el men&uacute;:<br>Mis Compras, o Estado de cuenta</b>.
                </span>
            </td>
        </tr>
        <tr>
            <td valign="top">&nbsp;</td>
        </tr>
    </tbody>
</table>