/*.filesizechange { display: none }
#MoreOptionFileXY { cursor: pointer; }
#OptionFileXY { display: none }*/

.file-kb, .image-h, .image-v, .image-x { display: block; float: none; padding: 0; }
.image-h, .image-v, .image-x { width: 20px; }
.file-title { color: gray; display: inline-block; font-style: italic; overflow: hidden; padding: 0 !important; position: relative; white-space: nowrap; width: 100%; }
#ExtensionFile { background-color: transparent; border: medium none; box-shadow: 0 0 0 #ffffff; width: 26px; }
#FileNewFileName { width: 180px; }
.back { color: #333; font-family: trebuchet MS; text-decoration: none; line-height: 28px; padding-right: 10px; font-weight: bold; font-size: 30px; }
.breadcrumb { background-color: WhiteSmoke; font-family: trebuchet MS; font-size: 16px; font-weight: normal; margin: -12px 0 10px; padding: 5px; display: inline-block; width: 100%; }

.ActionWidowFileSystems { position: fixed; right: 0; top: 0; }
.ActionWidowFileSystems a { color: #FFFFFF; display: inline-block; padding: 0; text-decoration: none; }
.ActionWidowFileSystems a i { font-size: 24px; line-height: 34px; }
.ActionWidowFileSystems a:hover { background-color: #F80B63; color: white; }
#dialog-form-Administrator .FolderSystemUL { float: left !important; margin: 0; padding: 0 !important; width: 25% !important; }
#dialog-form-Administrator #ImageSystemScroll > iframe { height: 80%; width: 73%; }

.FolderSystemUL { font-size: 12px; height: 96% !important; line-height: 1.5; margin: 0 !important; padding: 0 !important; width: 100%; }
.FolderSystemUL li, .FileSystemUL li { border-top: 1px dotted #C9C9C9; cursor: pointer; line-height: 20px; margin: 0; padding: 0 10px 0 0; position: relative; }
.FolderSystemUL .pft-directory span.iconmore { cursor: pointer; display: inline-block !important; height: 20px; left: 0; padding: 3px !important; position: absolute; width: 20px; }
.FolderSystemUL .pft-directory > a { left: 25px !important; position: relative; }
.FolderSystemUL .pft-file { left: 25px !important; position: relative; }
/*******************************/
.FolderSystemUL, .FileSystemUL { cursor: default; list-style: none outside none; margin: 0; overflow-x: hidden; overflow-y: auto; padding: 0 0 0 8% !important; width: 92%; }
.FolderSystemUL li, .FileSystemUL li { margin: 0; padding: 0; line-height: 20px; cursor: pointer; position: relative; border-top: 1px dotted #C9C9C9; }
.FolderSystemUL li .handleVMove, .FileSystemUL li .handleVMove { float: right; position: relative; right: 0; top: 0; }
.FolderSystemUL li.active, .FolderSystemUL li.active .FolderName { background-color: #09F; padding: 6px !important; }
.FolderSystemUL li.active a { color: white !important; }
.FileSystemUL li { margin: 0 !important; padding: 5px !important; list-style: none outside none !important; }
.FileSystemUL li.ui-state-highlight { margin: 0; padding: 0; height: 18px; }
.FileSystemUL li .iconFile { background: transparent url("../img/icons/unknown.gif") scroll no-repeat center center; width: 30px; height: 20px; display: inline-block; float: left; cursor: pointer; }
.iconFolder { background: transparent url("../img/icons/folder.png") scroll no-repeat center center; width: 30px; height: 20px; display: inline-block; float: left; }
.iconFolderRoot { background: transparent url("../img/icons/Home.png") scroll no-repeat center center; width: 30px; height: 20px; display: inline-block; float: left; }
.iconFolderUp { background: transparent url("../img/icons/FolderUp.png") scroll no-repeat center center; width: 30px; height: 20px; display: inline-block; float: left; }
.image-h { background: transparent url("../img/icons/h.gif") scroll no-repeat center center; width: 30px; height: 20px; display: inline-block; float: right; }
.image-v { background: transparent url("../img/icons/v.gif") scroll no-repeat center center; width: 30px; height: 20px; display: inline-block; float: right; }
.image-x { background: transparent url("../img/icons/x.gif") scroll no-repeat center center; width: 30px; height: 20px; display: inline-block; float: right; }
.file-x { background: transparent none scroll no-repeat center center; width: 30px; height: 20px; display: inline-block; float: right; }
.clipboardCopy { background: transparent url("../img/icons/clipboardCopy.png") scroll no-repeat center center; width: 30px; height: 20px; display: inline-block; float: left; }
.file-tags { background: transparent url("../img/icons/tag.png") scroll no-repeat center center; width: 30px; height: 20px; display: inline-block; float: right; }
.file-delete, .folder-delete { background: transparent url("../img/icons/delete.gif") scroll no-repeat center center; height: 20px; display: inline-block; float: right; position: relative; padding: 0 0 0 5px; width: 20px; text-align: right; cursor: pointer; }
.blockLevel { height: 20px; display: inline-block; float: left; position: relative; width: 15px; }
.FolderName { display: inline-block; float: none; height: 20px; white-space: nowrap; width: 50%; overflow: hidden; }
.FileSystemUL li .image-size, .FileSystemUL li .file-kb { height: 20px; display: inline-block; float: right; position: relative; padding: 0 0 0 5px; width: 80px; text-align: right; }
.file-title { color: gray; display: inline-block; font-style: italic; overflow: hidden; padding: 10px !important; position: relative; white-space: nowrap; width: 96%; }
.FileSystemUL li .image-size b, .FileSystemUL li .file-kb b { position: relative; display: block; padding: 0 5px 0 0; }
.FileOrder { color: gray; font-size: 11px; }
.even { background-color: #FFF }
.odd { background-color: #F5F5F5 }
.TitleFolder {
    margin: 0 !important;
    padding: 10px !important;
}
#FolderSystemBreadcrumb { color: #2E79DE; font-size: 11px; line-height: 23px; padding: 0 0 0 10px; width: 100%; float: left; display: block; height: 40px; }
#FolderSystemBreadcrumb a { color: #2E79DE; text-decoration: none; font-size: 11px; }
#FolderSystemBreadcrumb a:hover { text-decoration: underline; }
#FolderSystemBreadcrumb span { color: #2E79DE; text-decoration: none; font-size: 11px; }
.FolderName b { display: block; position: relative; }
textarea#editor { font-size: 12px; }
#dialog-form-Administrator .box, #dialog-form-Administrator .content, #dialog-form-Administrator .box .t, #dialog-form-Administrator .box .b, #dialog-form-Administrator .box .b div { background-image: url("../img/box.png"); }
#LOADING { background: url("../img/loading.gif") no-repeat scroll center center #FFFFFF; height: 100%; left: 0; position: fixed; top: 80px; width: 100%; z-index: 999; opacity: 0.5; -webkit-opacity: 0.5; filter: Alpha(Opacity=50); }
.FileSystemsEditorScroll { width: 350px; height: 350px !important; overflow-y: auto; }
.cleditorPopup .foto { margin: 4px; }
.file-kb { float: right; display: inline; padding: 0 5px; }

.adicionalTags { border: 1px solid #999999; padding: 10px !important; width: 89%; }
.adicionalTags table { position: relative; }
.adicionalTags .SaveTags { background: url("../img/SaveTags.png") repeat scroll 0 0 transparent; height: 22px; width: 36px; position: absolute; right: -5px; top: -5px; cursor: pointer }
.FolderSystemUL .file-kb { display: inline-block; float: right; padding: 0 0 0 5px !important; text-align: right; }


.fileItem .divpnglist { background: url("../img/transparent.png") repeat scroll -25px -120px #CCCCCC; }
.divpnglist img { display: block; line-height: 120px; max-height: 120px; max-width: 120px; text-align: center; vertical-align: middle; }
#ImagePreview { background: url("../img/transparent.png") repeat scroll -25px 120px #CCCCCC; display: table-cell; float: none; height: 120px; line-height: 120px; text-align: center; vertical-align: middle; width: 100% !important; }
#ImagePreview img { display: table-cell; line-height: 120px; max-height: 120px; max-width: 100%; text-align: center; vertical-align: middle; }
/*  FILE SYSTEM  DIRECTORY */
.FolderSystemUL { font-size: 12px; letter-spacing: 1px; line-height: 1.5; padding: 0; }
.FolderSystemUL ul { margin-left: 0 !important; padding: 0 0 0 15px; }
.FolderSystemUL a { color: #000000; display: block; text-decoration: none; vertical-align: middle; line-height: 16px !important; }
.FolderSystemUL a:hover { color: #06C; }
.FolderSystemUL a span { background-color: transparent; color: #000000; display: block; padding: 5px 5px 5px 10px !important }
.FolderSystemUL .open { font-style: italic; }
.FolderSystemUL .closed { font-style: normal; }
.FolderSystemUL .pft-directory { list-style: none outside none; line-height: 16px; }
.FolderSystemUL .pft-directory span.iconfolder {
    color: #ffa33e;
    cursor: pointer;
    display: inline-block;
    font-size: 1.7em;
    height: 2em;
    left: 0;
    padding: 0.2em !important;
    position: absolute;
    width: 2em;
}
.FolderSystemUL .pft-directory span.iconmore { cursor: pointer; display: inline-block; height: 20px; left: 0; padding: 3px !important; position: absolute; width: 20px; }
.FolderSystemUL .pft-directory span.iconmore:hover,
.FolderSystemUL .pft-directory span.iconfolder:hover { color: #00cc33; }
.FolderSystemUL .pft-directory i {
    font-size: 2em;
    margin: 0;
    padding: 0;
    position: absolute;
}
.skt-icon-folder.iconfolder.iconmore i {
    color: #000000;
    font-size: 0.5em;
    position: absolute;
    right: -0.5em;
    top: 0.5em;
}
/*---------------------------------------------------------------------------------------*/
.skt-icon-move { background: none repeat scroll 0 0 #9acd32; color: #ffffff; cursor: move; display: block; margin: 0; padding: 0 3px; position: absolute; right: 0; top: 0; z-index: 100; }
.divpnglist {
    background: none repeat scroll 0 0 #f6f6f6;
    border: 0 none;
    box-shadow: 0 0 1px #b1b1ff;
    display: block;
    float: none;
    height: 100%;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
.divpnglist img { display: table-cell; line-height: 100%; max-height: none; max-width: 100%; min-width: 100%; text-align: center; vertical-align: middle; }
.divpnglist i {
    color: #2e79de;
    display: block;
    font-size: 7em;
    line-height: 1em;
    margin: 0;
    padding: 0;
    text-align: center;
}
.Dirname {
    background-color: #222;
    bottom: 0;
    color: #ffffff !important;
    font-family: trebuchet MS;
    font-size: 0.7em;
    font-weight: bold;
    height: auto;
    line-height: 1em;
    opacity: 0.79;
    overflow: hidden;
    padding: 0.6em;
    position: absolute;
    text-align: left;
    text-overflow: ellipsis;
    top: 70%;
    transition: all 0.5s linear 0s;
    white-space: nowrap;
    width: 100%;
}
.Dirname .file-kb {
    display: block;
    float: none;
}
.PopUp_System li {
    border: 1px solid #dcdcff;
    display: block;
    float: left;
    height: 10em;
    margin: 0 0 1.5em 1.5em !important;
    padding: 0 !important;
    position: relative;
    text-align: center;
    width: 10em;
}
.PopUp_System li > a {
    display: block;
}
#SliderSize {
    position: fixed;
    right: 140px;
    top: 12px;
    width: 100px;
    z-index: 9999999;
}
.PopUp_System img,
.PopUp_System a img { border: 0 none; }
.PopUp_System li div.imagesize { background-color: #FFFFFF; color: #000000; font-family: tahoma; font-size: 10px; opacity: 0.7; filter: Alpha(Opacity=70); position: absolute; text-align: center; top: 0; width: 100px; z-index: 1; overflow: hidden; white-space: nowrap; }
.PopUp_System { margin: 0 5px 5px 0; padding: 0; font-size: 1em;}
.PopUp_System li:hover .Dirname {
    background-color: #00177c;
    color: #ffffff !important;
    opacity: 0.68;
    top: 0;
}
.PopUp_System li:hover { z-index: 1; }
.PopUp_System li a.atooltip {
    display: block;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
.PopUp_System li .OptionsNav {
    background: none repeat scroll 0 0 #ffffff;
    bottom: 0;
    height: auto;
    margin: 0 !important;
    opacity: 0;
    padding: 0;
    position: absolute;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear 0s;
    visibility: hidden;
    width: 100%;
    z-index: 10;
}
.PopUp_System li .OptionsNav ul { background-color: transparent; display: block; height: 2.2em; margin: 0 !important; position: relative; padding: 0 !important; border: 0 none !important; width: 100%; }
.PopUp_System li .OptionsNav ul li {
    border: 0 none !important;
    cursor: pointer;
    display: block;
    float: left;
    height: 2em !important;
    margin: 0 0.2em 0 0 !important;
    padding: 0.2em 0 0 0.2em !important;
    text-align: center !important;
    width: 2em !important;
}
.PopUp_System li .OptionsNav ul li span,
.PopUp_System li .OptionsNav ul li span, .PopUp_System li .OptionsNav ul li a {
    background-image: none;
    display: block;
    height: 2em;
    position: relative;
    width: 2em;
}
.PopUp_System li .OptionsNav ul li i {
    color: #2e79de;
    display: block;
    font-size: 1.6em !important;
    line-height: 1em !important;
    margin: 0 0 0 -0.2em;
    position: relative;
}
.PopUp_System li .OptionsNav ul li.Delete,
.PopUp_System li .OptionsNav ul li.DeleteFolder { color: #ff3838 !important; }
.PopUp_System li .OptionsNav ul li.Move { display: none; }
.PopUp_System li:hover .OptionsNav { visibility: visible; opacity: 1; transition-delay: 0s; display: block; }
.PopUp_System li .OptionsNav ul li:hover { background: none repeat scroll 0 0 #003196; }
.PopUp_System li .OptionsNav ul li:hover i{color: #ffffff !important}

/*------------------------------------------------------------------------------------------------------------*/

.PopUp_System2 li {
    border: 1px solid #dcdcff;
    display: block;
    float: left;
    height: 30px;
    margin: 10px 0 0 10px !important;
    padding: 0 !important;
    position: relative;
    text-align: center;
    width: 100%;
}
.PopUp_System2 img, .PopUp_System2 a img {
    border: 0 none;
}
.PopUp_System2 .tip {
    background-color: rgba(0, 0, 0, 0);
    border: 15px solid #2e79de;
    display: none;
    height: 30px;
    left: -15px;
    position: absolute;
    top: -15px;
    width: 30px;
}
.PopUp_System2 .tip * {
    color: #ffffff;
    font-size: 10px !important;
    text-align: left;
}
.PopUp_System2 li:hover a .tip {
    display: block;
}
.PopUp_System2 li div.imagesize {
    background-color: #ffffff;
    color: #000000;
    font-family: tahoma;
    font-size: 10px;
    opacity: 0.7;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 100px;
    z-index: 1;
}
.PopUp_System2 {
    margin: 0 5px 5px 0;
    padding: 0;
}
.PopUp_System2 li a.atooltip {
    display: block;
    height: 215px;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.PopUp_System2 li:hover .Dirname {
    background-color: #2e79de;
    color: #ffffff !important;
    opacity: 1;
}
.PopUp_System2 li {
    border: 1px solid #dcdcff;
    display: block;
    float: left;
    height: auto;
    margin: 0;
    padding: 0 !important;
    position: relative;
    text-align: left;
    width: 23% !important;
}
.PopUp_System2 li:hover {
    z-index: 1;
}
.PopUp_System2 li a.atooltip {
    display: block;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
.PopUp_System2 .tip {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #2e79de;
    display: none;
    height: auto;
    left: auto;
    position: relative;
    top: auto;
    width: auto;
}
.PopUp_System2 li .OptionsNav {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #000000;
    display: none;
    height: 30px;
    left: auto;
    line-height: 30px;
    margin: 0 !important;
    opacity: 1;
    padding: 0;
    position: absolute;
    right: 7px;
    top: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear 0s;
    vertical-align: middle;
    visibility: visible;
    width: auto;
    z-index: 10;
}
.PopUp_System2 li .OptionsNav ul {
    background-color: rgba(0, 0, 0, 0);
    border: 0 none !important;
    display: block;
    height: 30px;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    width: 100%;
}
.PopUp_System2 li .OptionsNav ul li {
    background: none repeat scroll 0 0 #106dd7;
    border: 0 none !important;
    color: #ffffff;
    cursor: pointer;
    display: block;
    float: left;
    height: 30px !important;
    line-height: 30px;
    margin: 0 5px 0 0 !important;
    padding: 0 !important;
    text-align: center !important;
    vertical-align: middle;
    width: 30px !important;
}
.PopUp_System2 li .OptionsNav ul li span, .PopUp_System2 li .OptionsNav ul li a {
    background-image: none;
    display: block;
    height: 30px;
    position: absolute;
    top: 0;
    width: 30px;
}
.PopUp_System2 li .OptionsNav ul li i {
    color: #ffffff;
    display: block;
    font-size: 25px;
    line-height: 25px;
    margin: -1px 0 0 -4px;
    position: relative;
}
.PopUp_System2 li .OptionsNav ul li.Delete, .PopUp_System2 li .OptionsNav ul li.DeleteFolder {
    background-color: #ff3838 !important;
}
.PopUp_System2 li .OptionsNav ul li.Move {
    background-position: -130px 0 !important;
    display: none;
}
.PopUp_System2 li:hover .OptionsNav {
    display: block;
    opacity: 1;
    transition-delay: 0s;
    visibility: visible;
}
.PopUp_System2 li .OptionsNav ul li:hover {
    background: none repeat scroll 0 0 #33cc00;
}
.PopUp_System2 li .divpnglist {
    border: 0 none;
    display: inline-block;
    float: left;
    height: 30px;
    line-height: normal;
    text-align: left;
    vertical-align: middle;
    width: 30px;
    box-shadow: inherit;
    background-color: transparent;
}
.PopUp_System2 .divpnglist i {
    color: #2e79de;
    display: block;
    font-size: 25px;
    line-height: normal;
    margin: 0;
    padding: 0;
    text-align: center;
    width: auto;
}
.PopUp_System2 .divpnglist img {
    display: block;
    line-height: normal;
    max-height: none;
    max-width: 30px;
    min-width: 30px;
    text-align: left;
    vertical-align: middle;
}
.PopUp_System2 .Dirname {
    background-color: rgba(0, 0, 0, 0);
    bottom: auto;
    color: #2e79de !important;
    font-family: trebuchet MS;
    font-size: 16px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    max-width: 100%;
    opacity: 1;
    overflow: hidden;
    padding: 0 0 0 15px;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
}
.PopUp_System2 a {
    display: inline-block;
    width: 100%;
}
/*------------------------------------------------------------------------------------------------------------*/
.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}


.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}
.progress-animated .progress-bar,
.progress-animated .bar {
  background: url("../img/progressbar.gif") !important;
  filter: none;
}
.fileupload-process {
  float: right;
  display: none;
}
.fileupload-processing .fileupload-process,
.files .processing .preview {
  display: block;
  width: 32px;
  height: 32px;
  background: url("../img/loading.gif") center no-repeat;
  background-size: contain;
}
.files audio,
.files video {
  max-width: 300px;
}
#files > div {
    background: none repeat scroll 0 0 #f2f2f2;
    border-radius: 5px;
    display: block;
    float: left;
    font-size: 12px;
    height: 200px;
    line-height: 25px;
    margin: 1%;
    overflow: hidden;
    padding: 8px;
    text-align: center;
    width: 22%;
}
#files > div span {
    display: block;
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (max-width: 767px) {
  .fileupload-buttonbar .toggle,
  .files .toggle,
  .files .btn span {
    display: none;
  }
  .files .name {
    width: 80px;
    word-wrap: break-word;
  }
  .files audio,
  .files video {
    max-width: 80px;
  }
  .files img,
  .files canvas {
    max-width: 100%;
  }
}
