.Function h4 {
    padding: 10px;
}
.Function h4 {
    background: none repeat scroll 0 0 #34495e;
    border-radius: 10px;
    color: #ffffff;
    padding: 10px;
}
/*------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------*/
#wrapper {
    height: 100%;
    margin: auto 0;
    width: 100%;
}
.mobile {
    background: none repeat scroll 0 0 rgb(206, 206, 206);
    float: left;
    height: 100%;
    position: fixed;
    z-index: 999;
}
#tm {
    display: none;
}
.mobile section {
    background: none repeat scroll 0 0 rgba(206, 206, 206, 0.5);
    height: 100%;
    position: relative;
    transition: all 0.25s ease 0s;
    width: 50px;
}
.mobile section label {
    background: none repeat scroll 0 0 rgba(206, 206, 206, 0.5);
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: block;
    font: bold 14px Montserrat;
    height: 100%;
    left: 0;
    padding: 10px 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100%;
}
.sidenav {
    background: none repeat scroll 0 0 rgb(85, 85, 85);
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 10px 0 0;
    position: absolute;
    top: 0;
    width: 280px;
}
.sidenav ul {
    background-color: #5e5e5e;
    border-left: 10px solid #6b6b6b;
    margin: 0 0 10px;
    padding: 5px 0;
}
#tm:checked ~ .sidenav {
    opacity: 1;
    filter:alpha(Opacity=100);
    display: block;
}
.sidenav li {
    list-style-type: none;
}
.sidenav a {
    color: #ffffff;
    text-decoration: none;
}
.sidenav b {
    color: #ffffff;
    display: block;
    font: 14px/19px "Open Sans";
    opacity: 0;
    padding: 5px 0;
    transform: translateX(50px);
    transition: all 0.4s ease 0s;
}
.sidenav i {
    display: block;
    float: left;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
    width: 50px;
}
#tm:checked ~ section {
    transform: translateX(280px);
}
#tm:checked ~ .sidenav b {
    opacity: 1;
    transform: translateX(0px);
}
#tm:checked ~ .sidenav li:nth-child(1) b {
    transition-delay: 0.08s;
}
#tm:checked ~ .sidenav li:nth-child(2) b {
    transition-delay: 0.16s;
}
#tm:checked ~ .sidenav li:nth-child(3) b {
    transition-delay: 0.24s;
}
#tm:checked ~ .sidenav li:nth-child(4) b {
    transition-delay: 0.32s;
}
#tm:checked ~ .sidenav li:nth-child(5) b {
    transition-delay: 0.4s;
}
#tm:checked ~ .sidenav li:nth-child(6) b {
    transition-delay: 0.48s;
}
#tm:checked ~ .sidenav li:nth-child(7) b {
    transition-delay: 0.56s;
}
#tm:checked ~ .sidenav li:nth-child(8) b {
    transition-delay: 0.64s;
}
#tm:checked ~ .sidenav li:nth-child(9) b {
    transition-delay: 0.72s;
}
#tm:checked ~ .sidenav li:nth-child(10) b {
    transition-delay: 0.8s;
}
.container {
    display: block;
    position: relative;
    z-index: 0;
}
#wrapper > section {
    cursor: pointer;
    height: 35px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 250px;
}

/*------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------*/

.tree {
    display: block;
    text-align: center;
}
.tree > ul {
    display: inline-block;
}
.tree ul {
    padding-top: 20px; position: relative;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li {
    float: left;
    list-style-type: none;
    padding: 20px 5px 0;
    position: relative;
    text-align: center;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
    border-top: 2px solid #ffcc33;
    content: "";
    height: 20px;
    position: absolute;
    right: 50%;
    top: 0;
    width: 50%;
}
.tree li::after{
    border-left: 2px solid #ffcc33;
    left: 50%;
    right: auto;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
    border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
    border-right: 2px solid #ffcc33;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 2px solid #ffcc33;
    width: 0; height: 20px;
}

.tree li a{
    background: none repeat scroll 0 0 #34495e;
    border: 3px solid #ffcc33;
    color: #ffffff;
    display: inline-block;
    font-size: 13px;
    padding: 5px 6px;
    text-decoration: none;

    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.tree li p{
    color: #555555;
    display: block;
    font-size: 20px;
    min-width: 200px;
    padding: 5px;
    text-decoration: none;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a.active, .tree li a.active+ul li a{
    background: none repeat scroll 0 0 #006993;
    border: 3px solid #94a0b4;
    color: #ffffff;
}
.tree li a:hover, .tree li a:hover+ul li a{
    background: none repeat scroll 0 0 #ffcc33 !important;
    border: 3px solid #94a0b4!important;
    color: #34495e!important;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
    border-color:  #94a0b4;
}
.tree li > i {
    font-size: 3em;
}
.tree li a i {
    display: block;
    font-size: 3em;
}
