@font-face {
  font-family: 'skticons';
  src: url('../font/skticons.eot?20497978');
  src: url('../font/skticons.eot?20497978#iefix') format('embedded-opentype'),
       url('../font/skticons.woff?20497978') format('woff'),
       url('../font/skticons.ttf?20497978') format('truetype'),
       url('../font/skticons.svg?20497978#skticons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'skticons';
    src: url('../font/skticons.svg?20497978#skticons') format('svg');
  }
}
*/
 
 [class^="skt-icon-"]:before, [class*=" skt-icon-"]:before {
  font-family: "skticons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.skt-icon-3ds:before { content: '\e800'; } /* '' */
.skt-icon-7z:before { content: '\e801'; } /* '' */
.skt-icon-ai:before { content: '\e802'; } /* '' */
.skt-icon-avi:before { content: '\e803'; } /* '' */
.skt-icon-bmp:before { content: '\e804'; } /* '' */
.skt-icon-css:before { content: '\e805'; } /* '' */
.skt-icon-csv:before { content: '\e806'; } /* '' */
.skt-icon-db2:before { content: '\e807'; } /* '' */
.skt-icon-dbf:before { content: '\e808'; } /* '' */
.skt-icon-dll:before { content: '\e809'; } /* '' */
.skt-icon-doc:before { content: '\e80a'; } /* '' */
.skt-icon-docx:before { content: '\e80b'; } /* '' */
.skt-icon-eps:before { content: '\e80c'; } /* '' */
.skt-icon-html:before { content: '\e80d'; } /* '' */
.skt-icon-exe:before { content: '\e80e'; } /* '' */
.skt-icon-fla:before { content: '\e80f'; } /* '' */
.skt-icon-flash:before { content: '\e810'; } /* '' */
.skt-icon-flv:before { content: '\e811'; } /* '' */
.skt-icon-gzip:before { content: '\e812'; } /* '' */
.skt-icon-delete:before { content: '\e813'; } /* '' */
.skt-icon-ico:before { content: '\e814'; } /* '' */
.skt-icon-indd:before { content: '\e815'; } /* '' */
.skt-icon-iso:before { content: '\e816'; } /* '' */
.skt-icon-lightbulb:before { content: '\e817'; } /* '' */
.skt-icon-jar:before { content: '\e818'; } /* '' */
.skt-icon-js:before { content: '\e819'; } /* '' */
.skt-icon-jsp:before { content: '\e81a'; } /* '' */
.skt-icon-max:before { content: '\e81b'; } /* '' */
.skt-icon-mid:before { content: '\e81c'; } /* '' */
.skt-icon-mov:before { content: '\e81d'; } /* '' */
.skt-icon-mp3:before { content: '\e81e'; } /* '' */
.skt-icon-mp4:before { content: '\e81f'; } /* '' */
.skt-icon-mpg:before { content: '\e820'; } /* '' */
.skt-icon-ogg:before { content: '\e821'; } /* '' */
.skt-icon-pdb:before { content: '\e822'; } /* '' */
.skt-icon-pdf:before { content: '\e823'; } /* '' */
.skt-icon-pps:before { content: '\e824'; } /* '' */
.skt-icon-ppt:before { content: '\e825'; } /* '' */
.skt-icon-pptx:before { content: '\e826'; } /* '' */
.skt-icon-psd:before { content: '\e827'; } /* '' */
.skt-icon-rar:before { content: '\e828'; } /* '' */
.skt-icon-rtf:before { content: '\e829'; } /* '' */
.skt-icon-sql:before { content: '\e82a'; } /* '' */
.skt-icon-edit-1:before { content: '\e82b'; } /* '' */
.skt-icon-svg:before { content: '\e82c'; } /* '' */
.skt-icon-swf:before { content: '\e82d'; } /* '' */
.skt-icon-tar1:before { content: '\e82e'; } /* '' */
.skt-icon-tga:before { content: '\e82f'; } /* '' */
.skt-icon-tiff:before { content: '\e830'; } /* '' */
.skt-icon-ttf:before { content: '\e831'; } /* '' */
.skt-icon-txt:before { content: '\e832'; } /* '' */
.skt-icon-vob:before { content: '\e833'; } /* '' */
.skt-icon-wav:before { content: '\e834'; } /* '' */
.skt-icon-wma:before { content: '\e835'; } /* '' */
.skt-icon-wmv:before { content: '\e836'; } /* '' */
.skt-icon-xhtml:before { content: '\e837'; } /* '' */
.skt-icon-xls:before { content: '\e838'; } /* '' */
.skt-icon-xlsx:before { content: '\e839'; } /* '' */
.skt-icon-xml5:before { content: '\e83a'; } /* '' */
.skt-icon-down-open:before { content: '\e83b'; } /* '' */
.skt-icon-left-open:before { content: '\e83c'; } /* '' */
.skt-icon-right-open:before { content: '\e83d'; } /* '' */
.skt-icon-up-open:before { content: '\e83e'; } /* '' */
.skt-icon-plus-squared:before { content: '\e83f'; } /* '' */
.skt-icon-minus-squared:before { content: '\e840'; } /* '' */
.skt-icon-desktop:before { content: '\e841'; } /* '' */
.skt-icon-laptop:before { content: '\e842'; } /* '' */
.skt-icon-tablet:before { content: '\e843'; } /* '' */
.skt-icon-mobile:before { content: '\e844'; } /* '' */
.skt-icon-code-2:before { content: '\e845'; } /* '' */
.skt-icon-folder-add:before { content: '\e846'; } /* '' */
.skt-icon-folder-delete:before { content: '\e847'; } /* '' */
.skt-icon-folder-1:before { content: '\e848'; } /* '' */
.skt-icon-folder-empty:before { content: '\e849'; } /* '' */
.skt-icon-folder-open-empty:before { content: '\e84a'; } /* '' */
.skt-icon-docs:before { content: '\e84b'; } /* '' */
.skt-icon-file-pdf:before { content: '\e84c'; } /* '' */
.skt-icon-file-word:before { content: '\e84d'; } /* '' */
.skt-icon-file-excel:before { content: '\e84e'; } /* '' */
.skt-icon-file-powerpoint:before { content: '\e84f'; } /* '' */
.skt-icon-file-image:before { content: '\e850'; } /* '' */
.skt-icon-file-archive:before { content: '\e851'; } /* '' */
.skt-icon-file-audio:before { content: '\e852'; } /* '' */
.skt-icon-file-video:before { content: '\e853'; } /* '' */
.skt-icon-file-code:before { content: '\e854'; } /* '' */
.skt-icon-doc-text-inv:before { content: '\e855'; } /* '' */
.skt-icon-doc-text:before { content: '\e856'; } /* '' */
.skt-icon-doc-inv:before { content: '\e857'; } /* '' */
.skt-icon-doc-2:before { content: '\e858'; } /* '' */
.skt-icon-zip:before { content: '\e859'; } /* '' */
.skt-icon-glyph-41:before { content: '\e85a'; } /* '' */
.skt-icon-help2:before { content: '\e85b'; } /* '' */
.skt-icon-earth:before { content: '\e85c'; } /* '' */
.skt-icon-glyph-3:before { content: '\e85d'; } /* '' */
.skt-icon-search:before { content: '\e85e'; } /* '' */
.skt-icon-glyph-5:before { content: '\e85f'; } /* '' */
.skt-icon-ps:before { content: '\e860'; } /* '' */
.skt-icon-glyph-7:before { content: '\e861'; } /* '' */
.skt-icon-glyph-8:before { content: '\e862'; } /* '' */
.skt-icon-glyph-9:before { content: '\e863'; } /* '' */
.skt-icon-image2:before { content: '\e864'; } /* '' */
.skt-icon-glyph-11:before { content: '\e865'; } /* '' */
.skt-icon-glyph-12:before { content: '\e866'; } /* '' */
.skt-icon-glyph-13:before { content: '\e867'; } /* '' */
.skt-icon-assets:before { content: '\e868'; } /* '' */
.skt-icon-ok-circled2:before { content: '\e869'; } /* '' */
.skt-icon-move:before { content: '\e86a'; } /* '' */
.skt-icon-location:before { content: '\e86b'; } /* '' */
.skt-icon-plus:before { content: '\e86c'; } /* '' */
.skt-icon-ok:before { content: '\e86d'; } /* '' */
.skt-icon-cancel:before { content: '\e86e'; } /* '' */
.skt-icon-glyph-21:before { content: '\e86f'; } /* '' */
.skt-icon-edit2:before { content: '\e870'; } /* '' */
.skt-icon-glyph-23:before { content: '\e871'; } /* '' */
.skt-icon-glyph-24:before { content: '\e872'; } /* '' */
.skt-icon-glyph-25:before { content: '\e873'; } /* '' */
.skt-icon-hour:before { content: '\e874'; } /* '' */
.skt-icon-glyph-27:before { content: '\e875'; } /* '' */
.skt-icon-comment2:before { content: '\e876'; } /* '' */
.skt-icon-search2:before { content: '\e877'; } /* '' */
.skt-icon-glyph-30:before { content: '\e878'; } /* '' */
.skt-icon-glyph-31:before { content: '\e879'; } /* '' */
.skt-icon-lock:before { content: '\e87a'; } /* '' */
.skt-icon-config3:before { content: '\e87b'; } /* '' */
.skt-icon-glyph-34:before { content: '\e87c'; } /* '' */
.skt-icon-glyph-35:before { content: '\e87d'; } /* '' */
.skt-icon-glyph-36:before { content: '\e87e'; } /* '' */
.skt-icon-ok2:before { content: '\e87f'; } /* '' */
.skt-icon-calendar2:before { content: '\e880'; } /* '' */
.skt-icon-glyph-39:before { content: '\e881'; } /* '' */
.skt-icon-play:before { content: '\e882'; } /* '' */
.skt-icon-glyph-16:before { content: '\e883'; } /* '' */
.skt-icon-location-1:before { content: '\e884'; } /* '' */
.skt-icon-exit:before { content: '\e885'; } /* '' */
.skt-icon-error:before { content: '\e886'; } /* '' */
.skt-icon-success:before { content: '\e887'; } /* '' */
.skt-icon-group:before { content: '\e888'; } /* '' */
.skt-icon-user-profile:before { content: '\e889'; } /* '' */
.skt-icon-user:before { content: '\e88a'; } /* '' */
.skt-icon-list:before { content: '\e88b'; } /* '' */
.skt-icon-attach:before { content: '\e88c'; } /* '' */
.skt-icon-link:before { content: '\e88d'; } /* '' */
.skt-icon-new:before { content: '\e88e'; } /* '' */
.skt-icon-cancel-2:before { content: '\e88f'; } /* '' */
.skt-icon-acept:before { content: '\e890'; } /* '' */
.skt-icon-edit:before { content: '\e891'; } /* '' */
.skt-icon-home:before { content: '\e892'; } /* '' */
.skt-icon-basquet:before { content: '\e893'; } /* '' */
.skt-icon-info:before { content: '\e894'; } /* '' */
.skt-icon-CmsDev:before { content: '\e895'; } /* '' */
.skt-icon-view:before { content: '\e896'; } /* '' */
.skt-icon-page-config:before { content: '\e897'; } /* '' */
.skt-icon-page:before { content: '\e898'; } /* '' */
.skt-icon-config:before { content: '\e899'; } /* '' */
.skt-icon-tasks:before { content: '\e89a'; } /* '' */
.skt-icon-defined:before { content: '\e89b'; } /* '' */
.skt-icon-access:before { content: '\e89c'; } /* '' */
.skt-icon-cancel-1:before { content: '\e89d'; } /* '' */
.skt-icon-comments:before { content: '\e89e'; } /* '' */
.skt-icon-twitter:before { content: '\e89f'; } /* '' */
.skt-icon-video:before { content: '\e8a0'; } /* '' */
.skt-icon-favorites:before { content: '\e8a1'; } /* '' */
.skt-icon-facebook:before { content: '\e8a2'; } /* '' */
.skt-icon-audio:before { content: '\e8a3'; } /* '' */
.skt-icon-view-1:before { content: '\e8a4'; } /* '' */
.skt-icon-google-plus:before { content: '\e8a5'; } /* '' */
.skt-icon-minimize:before { content: '\e8a6'; } /* '' */
.skt-icon-view-2:before { content: '\e8a7'; } /* '' */
.skt-icon-pinterest:before { content: '\e8a8'; } /* '' */
.skt-icon-menu-3lines:before { content: '\e8a9'; } /* '' */
.skt-icon-icon-email:before { content: '\e8aa'; } /* '' */
.skt-icon-view-3:before { content: '\e8ab'; } /* '' */
.skt-icon-close:before { content: '\e8ac'; } /* '' */
.skt-icon-linkedin:before { content: '\e8ad'; } /* '' */
.skt-icon-news:before { content: '\e8ae'; } /* '' */
.skt-icon-galery:before { content: '\e8af'; } /* '' */
.skt-icon-folder:before { content: '\e8b0'; } /* '' */
.skt-icon-control:before { content: '\e8b1'; } /* '' */
.skt-icon-download:before { content: '\e8b2'; } /* '' */
.skt-icon-upload:before { content: '\e8b3'; } /* '' */
.skt-icon-document:before { content: '\e8b4'; } /* '' */
.skt-icon-config1:before { content: '\e8b5'; } /* '' */
.skt-icon-search-1:before { content: '\e8b6'; } /* '' */
.skt-icon-tags:before { content: '\e8b7'; } /* '' */
.skt-icon-script:before { content: '\e8b8'; } /* '' */
.skt-icon-page-properties:before { content: '\e8b9'; } /* '' */
.skt-icon-theme-layout:before { content: '\e8ba'; } /* '' */
.skt-icon-language:before { content: '\e8bb'; } /* '' */
.skt-icon-calendar:before { content: '\e8bc'; } /* '' */
.skt-icon-code:before { content: '\e8bd'; } /* '' */
.skt-icon-image:before { content: '\e8be'; } /* '' */
.skt-icon-code-1:before { content: '\e8bf'; } /* '' */
.skt-icon-down-open-1:before { content: '\e8c0'; } /* '' */
.skt-icon-left-open-1:before { content: '\e8c1'; } /* '' */
.skt-icon-right-open-1:before { content: '\e8c2'; } /* '' */
.skt-icon-up-open-1:before { content: '\e8c3'; } /* '' */
.skt-icon-plus-squared-1:before { content: '\e8c4'; } /* '' */
.skt-icon-minus-squared-1:before { content: '\e8c5'; } /* '' */
.skt-icon-desktop-1:before { content: '\e8c6'; } /* '' */
.skt-icon-laptop-1:before { content: '\e8c7'; } /* '' */
.skt-icon-tablet-1:before { content: '\e8c8'; } /* '' */
.skt-icon-mobile-1:before { content: '\e8c9'; } /* '' */
.skt-icon-code-3:before { content: '\e8ca'; } /* '' */
.skt-icon-folder-add-1:before { content: '\e8cb'; } /* '' */
.skt-icon-folder-delete-1:before { content: '\e8cc'; } /* '' */
.skt-icon-folder-2:before { content: '\e8cd'; } /* '' */
.skt-icon-folder-empty-1:before { content: '\e8ce'; } /* '' */
.skt-icon-folder-open-empty-1:before { content: '\e8cf'; } /* '' */
.skt-icon-docs-1:before { content: '\e8d0'; } /* '' */
.skt-icon-file-pdf-1:before { content: '\e8d1'; } /* '' */
.skt-icon-file-word-1:before { content: '\e8d2'; } /* '' */
.skt-icon-file-excel-1:before { content: '\e8d3'; } /* '' */
.skt-icon-file-powerpoint-1:before { content: '\e8d4'; } /* '' */
.skt-icon-file-image-1:before { content: '\e8d5'; } /* '' */
.skt-icon-file-archive-1:before { content: '\e8d6'; } /* '' */
.skt-icon-file-audio-1:before { content: '\e8d7'; } /* '' */
.skt-icon-file-video-1:before { content: '\e8d8'; } /* '' */
.skt-icon-file-code-1:before { content: '\e8d9'; } /* '' */
.skt-icon-doc-text-inv-1:before { content: '\e8da'; } /* '' */
.skt-icon-doc-text-1:before { content: '\e8db'; } /* '' */
.skt-icon-doc-inv-1:before { content: '\e8dc'; } /* '' */
.skt-icon-doc-1:before { content: '\e8dd'; } /* '' */
.skt-icon-expand-1:before { content: '\e8de'; } /* '' */
.skt-icon-expand:before { content: '\e8df'; } /* '' */
.skt-icon-eye:before { content: '\e8e0'; } /* '' */
.skt-icon-rewrite:before { content: '\e8e1'; } /* '' */
.skt-icon-help:before { content: '\e8e2'; } /* '' */
.skt-icon-download-cloud:before { content: '\e8e3'; } /* '' */
.skt-icon-upload-cloud:before { content: '\e8e4'; } /* '' */
.skt-icon-cc-paypal:before { content: '\e8e5'; } /* '' */
.skt-icon-cc-visa:before { content: '\e8e6'; } /* '' */
.skt-icon-cc-mastercard:before { content: '\e8e7'; } /* '' */
.skt-icon-inbox:before { content: '\e8e8'; } /* '' */
.skt-icon-download-1:before { content: '\e8e9'; } /* '' */
.skt-icon-download-alt:before { content: '\e8ea'; } /* '' */
.skt-icon-spin3:before { content: '\e8eb'; } /* '' */
.skt-icon-award:before { content: '\e8ec'; } /* '' */
.skt-icon-coffee:before { content: '\e8ed'; } /* '' */
.skt-icon-briefcase:before { content: '\e8ee'; } /* '' */
.skt-icon-graduation-cap:before { content: '\e8ef'; } /* '' */
.skt-icon-wechat:before { content: '\e8f0'; } /* '' */
.skt-icon-slideshare:before { content: '\e8f1'; } /* '' */